body {
    font-size: 16px;
    overflow-x: hidden;
}

/* Layout */

.flex {
    display: flex;
    flex-direction: column;
}

.clear {
    clear: both;
    padding-top: 1.5rem;
}

/* Images */

.border {
    border-bottom: 1px solid #db6f6f;
}

.figure {
    text-align: center;
    color: grey;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    width: 27rem; 
}

.right {
    float: right;
    margin-left: 1.2rem;    
}

.left {
    float: left;
    margin-right: 1.2rem;          
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 8px 8px -8px #444444;    
}

/* Text and anchor styles */

.article__p {
    padding-bottom: 1.5rem;
}

.line-height {
    line-height: normal;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.large {
    font-size: 2.5rem;
}

.letter-space {
    letter-spacing: 0.4rem;
}

.color {
    color: rgb(114, 60, 60);
}

a {
    transition: opacity 300ms ease-out;
}

a:hover {
    opacity: 0.6;
    cursor:pointer;
}
/* Section by section */ 
/* Banner */

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(26, 25, 25, 0.5)),
    url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 25rem;   
    align-items: flex-start;
    justify-content: flex-end;    
}

.banner__text {
    margin: 0 0 4rem 5rem;    
}

.title {
    font-family: 'Zilla Slab', serif; 
    font-size: 4rem;
    font-weight: 300;
    padding: 1.2rem;
    width: max-content;
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
}

.sub-title {
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;
    font-weight: 400;
    color: whitesmoke;
    background-color: rgb(114, 60, 60);
    margin: 0 1rem;
    padding: 0 0.2rem;
}

/* Main and article */

.main {
    align-items: center;
    width: 100%;
    padding-top: 2rem;
}

.article {
    width: 75%;
    margin-top: 1.5rem;
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
}

.sources {
    text-align: center;
    font-size: 1rem;
    color: grey;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: 3rem 0 0.5rem;
}

/* Further reading */

.further-reading {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(26, 25, 25, 0.5)),
    url("../images/eniac4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    align-items: flex-end;
    justify-content: center;
    height: 30rem;
    width: 100%;
    position: relative;
}

.further-reading .title {
    align-self: center;
    font-size: 3rem;
    padding: 0.5rem;
}

.further-reading__list {
    font-family: 'Zilla Slab', serif;
    font-size: 1.6rem;
    width: 45%;
    text-align: left;
    margin-right: 1rem;
    transition: opacity 200ms ease-out;    
}

.further-reading__list li {
    margin-bottom: 1.5rem;
    line-height: 1.2;

}

.further-reading__list:hover a {
    opacity: 0.7;
}

.further-reading__list:hover a:hover {
    opacity: 1.0;
}

.list__link {
    color: whitesmoke;
    padding: 0 0.3rem;
    box-shadow: 0 3px 3px -2px #444444;    
}

.bg-shade-1 {
    background-color: #bb716f;
}

.bg-shade-2 {
    background-color: #944f4d;
}

.bg-shade-3 {
    background-color: #833a3a;
}

.bg-shade-4 {
    background-color: #663131;
}

.bg-shade-5 {
    background-color: #472424;
}

/* Footer */

.footer {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke; 
    background-color: #311a1a;
    border-bottom: solid #311a1a;
}

.footer p {
    padding-left: 0.5rem;
    opacity: 0.8;
}

.footer a {
    font-family: 'Zilla Slab', serif;
    letter-spacing: 0.1rem;
    color: #bb716f;
}

@media only screen and (max-width: 770px) {
    .mobile-centre {
        align-items: center;
    }

    .banner__text {
        margin: 0 0 1.5rem 0;
        
    }

    .sub-title {
        margin: 0 1rem;
        text-align: center;
        
    }

    .right, .left {
        float: none;
        margin: 0 0 1rem 0;
        width: unset;
    }

    .further-reading__list {
        text-align: center;
        width: unset;
        margin-right: unset;
        margin-top: 1.5rem;
    }

    .footer {
        text-align: center;
    }
} 

@media only screen and (max-width: 480px) {

    .title {
        font-size: 3rem;
        margin-top: 1rem;
    }

    .sub-title {
        font-size: 1.8rem;
        width: 100%;
        margin: unset;
    }

    .sources {
        margin: 1rem 0;
    }

    .further-reading {
        height: auto;
    } 
}
